#
# Copyright (С) since 2019 Andrei Guluaev (Winfidonarleyan/Kargatum) https://github.com/Winfidonarleyan 
# Licence MIT https://opensource.org/MIT
#

##################################
# Кастомная система конфигурации #
##################################
[worldserver]

###################################################################################################
#   mod-anti-advertisment
#   mod-auto-revive
#   mod-bg-reward
#   mod-buff-command
#   mod-faction-icons-channel
#   mod-gm-chat-color
#   mod-level-reward
#   mod-notify-muted
#   mod-online-reward
#   mod-player-info-login
#   mod-spell-duration
###################################################################################################

###################################################################################################
#	mod-anti-advertisment
#
#    AntiAD.Enable
#        Описание: Включить систему запретных слов.
#        По умолчанию: 1
#
#    AntiAD.Message.GM.World.Enable
#        Описание: Включить оповещение запрещенного слова всем ГМам.
#        По умолчанию: 1
#
#    AntiAD.FullMessage.GM.World.Enable
#        Описание: Включить показ собщения полностью с запрещенным словом всем ГМам.
#        По умолчанию: 1
#
#    AntiAD.Message.Self.Enable
#        Описание: Показывать запретное сообщение нарушившему.
#        По умолчанию: 1
#
#    AntiAD.Enable.Mute
#        Описание: Включить мут при написании запретного слова.
#        По умолчанию: 1
#
#    AntiAD.Mute.GM 
#        Описание: Включить мут для ГМов.
#        По умолчанию: 0
#
#    AntiAD.Mutetime 
#        Описание: Время мута в минутах.
#        По умолчанию: 5
#

AntiAD.Enable = 1
AntiAD.Message.GM.World.Enable = 1
AntiAD.FullMessage.GM.World.Enable = 1
AntiAD.Message.Self.Enable = 1
AntiAD.Enable.Mute = 1
AntiAD.Mute.GM = 0
AntiAD.Mutetime = 1
###################################################################################################

###################################################################################################
#	mod-auto-revive
#
#    AutoRevive.Enable 
#        Описание: Включить автовоскрешение, только для ГМ.
#        По умолчанию: 1
#
#    AutoRevive.ZoneID 
#        Описание: Включить в определённой зоне, если 0 - значит везде.
#        По умолчанию: 0
#

AutoRevive.Enable = 1
AutoRevive.ZoneID = 0
###################################################################################################

###################################################################################################
#	mod-bg-reward
#
#    BG.Reward.Enable 
#        Описание: Включить систему наград за бг.
#        По умолчанию: 1
#
#    BG.Reward.ItemID.WSG
#        Описание: Номер предмета на поле боя Ущелье Песни Войны.
#        По умолчанию: 20558
#
#    BG.Reward.ItemID.Arathi 
#        Описание: Номер предмета на поле боя Низина Арати.
#        По умолчанию: 20559
#
#    BG.Reward.ItemID.Alterac
#        Описание: Номер предмета на поле боя Альтерайская Долина.
#        По умолчанию: 20560
#
#    BG.Reward.ItemID.Isle
#        Описание: Номер предмета на поле боя Остров Завоеваний.
#        По умолчанию: 47395
#
#    BG.Reward.ItemID.Ancients
#        Описание: Номер предмета на поле боя Берег Древних.
#        По умолчанию: 42425
#
#    BG.Reward.ItemID.Eye
#        Описание: Номер предмета на поле боя Око Бури.
#        По умолчанию: 29024
#
#    BG.Reward.WinnerTeam.Count
#        Описание: Количество выдаваемого предмета при победе.
#        По умолчанию: 3
#
#    BG.Reward.LoserTeam.Count
#        Описание: Количество выдаваемого предмета при поражении.
#        По умолчанию: 1
#

BG.Reward.Enable = 1
BG.Reward.ItemID.WSG = 20558
BG.Reward.ItemID.Arathi = 20559
BG.Reward.ItemID.Alterac = 20560
BG.Reward.ItemID.Isle = 47395
BG.Reward.ItemID.Ancients = 42425
BG.Reward.ItemID.Eye = 29024
BG.Reward.WinnerTeam.Count = 3
BG.Reward.LoserTeam.Count = 1
###################################################################################################

###################################################################################################
#	mod-buff-command
#
#    Buff.Command.Enable
#        Описание: Включить возможность использования команды .buff.
#        По умолчанию: 1
#

Buff.Command.Enable = 1
###################################################################################################

###################################################################################################
#	mod-faction-icons-channel
#
#    Channel.Icon.Faction.Enable
#        Описание: Включить модуль добавления иконки фрации написавшего сообщение в канале.
#        По умолчанию: 1
#
#    Channel.Icon.Faction.OnlyLFG
#        Описание: Добавлять иконку только в канале Поиск спутников.
#        По умолчанию: 1
#
#    Channel.Icon.Faction.GM
#        Описание: Добавлять иконку только для ГМ.
#        По умолчанию: 0 (иконки у всех)
#

Channel.Icon.Faction.Enable = 1
Channel.Icon.Faction.OnlyLFG = 1
Channel.Icon.Faction.GM = 0
###################################################################################################

###################################################################################################
#	mod-gm-chat-color
#
#    GM.Chat.Color.Enable
#        Описание: Включить цвет сообщения для ГМов.
#        По умолчанию: 1
#
#    GM.Chat.Color.Level.3
#        Описание: Цвет сообщения для ГМ 3 уровня.
#        По умолчанию: "|cffff0000"
#
#    GM.Chat.Color.Level.2
#        Описание: Цвет сообщения для ГМ 2 уровня.
#        По умолчанию: "|cff0000ff"
#
#    GM.Chat.Color.Level.1
#        Описание: Цвет сообщения для ГМ 1 уровня.
#        По умолчанию: "|cff0000ff"
#

GM.Chat.Color.Enable = 1
GM.Chat.Color.Level.3 = "|cffff0000"
GM.Chat.Color.Level.2 = "|cff0000ff"
GM.Chat.Color.Level.1 = "|cff0000ff"

###################################################################################################

###################################################################################################
#	mod-level-reward
#
#    Level.Reward.Enable
#        Описание: Включить функцию награды за уровень.
#        По умолчанию: 1
#

Level.Reward.Enable = 1
###################################################################################################

###################################################################################################
#	mod-notify-muted
#
#    NotCanSpeak.Msg.Enable
#        Описание: Включить оповещение о муте, если игрок замучен.
#        По умолчанию: 1
#

NotCanSpeak.Msg.Enable = 1
###################################################################################################

###################################################################################################
#    mod-online-reward
#
#    Online.Reward.Enable
#        Описание: Включить весь модуль награды за онлайн.
#        По умолчанию: 1
#
#    Online.Reward.Per.Online.Enable
#        Описание: Включить тип №1 (награды за общий онлайн на сервере).
#        По умолчанию: 1
#
#    Online.Reward.Per.Time.Enable
#        Описание: Включить тип №2 (переодические награды за промежутки времени).
#        По умолчанию: 1
#
#    Online.Reward.Per.Time.Time
#        Описание: Промежуток времени, через который будет выдаваться награда (тип №2). В секундах
#        По умолчанию: 3600 (1 час)
#
#    Online.Reward.Per.Time.ItemID
#        Описание: Выдаваемый предмет при переодической выдаче. (тип №2)
#        По умолчанию: 47241 ("Эмблема триумфа")
#
#    Online.Reward.Per.Time.Item.Count
#        Описание: Количество выдаваемого предмета при переодической выдаче. (тип №2)
#        По умолчанию: 1
#
#    Online.Reward.Check.Time
#        Описание: Время, через которое модуль выполняет проверку, для определения выдачи наград в обоих типах (число в секундах). Не ставить меньше 10.
#        По умолчанию: 60 (1 минута)
#

Online.Reward.Enable = 1
Online.Reward.Per.Online.Enable = 0
Online.Reward.Per.Time.Enable = 1
Online.Reward.Per.Time.Time = 3600
Online.Reward.Per.Time.ItemID = 47241
Online.Reward.Per.Time.Item.Count = 1
Online.Reward.Check.Time = 60
###################################################################################################

###################################################################################################
#	mod-player-info-login
#
#    Player.Info.Login.Enable
#        Описание: Включить информационное сообщение себе, при входе в игровоой мир.
#        По умолчанию: 1
#

Player.Info.Login.Enable = 1
###################################################################################################

###################################################################################################
#	mod-spell-duration
#
#    Spell.Duration.Enable
#        Описание: Включить систему смены времени заклинаний.
#        По умолчанию: 1
#

Spell.Duration.Enable = 1
###################################################################################################
